:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}
body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
}
img {
  width: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(4 fr);
  grid-template-rows: 60px 1fr 1fr 60px;
  gap: 1.5rem;
  padding: 5px;
}

.item0 {
  margin-bottom: 5px;
  font-style: italic;
  text-align: center;
  display: grid;
  grid-row: 1;
  grid-column: 1 / span 6;
  background: black;
  color: whitesmoke;
  font: var(--font);
  font-size: larger;
  gap: 1.5rem;
}
.item1 {
  text-align: center;

  background: #6b5b95;
  color: yellow;
  display: grid;
  grid-column: 2 / span 6;
  grid-row: 2;
  gap: 1.5rem;
  filter: contrast(150%);
}
.item2 {
  text-align: center;
  background: #335c67;
  color: beige;
  display: grid;
  grid-row: 3;
  grid-column: 3 / span 2;
  gap: 1.5rem;
  filter: contrast(150%);
}
.item3 {
  text-align: center;
  background: linear-gradient(#386641, #6a994e, #a7c957);
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: bold;
  padding: 3px 5px 3px 5px;
  display: grid;
  grid-column: 3 / span2;
  grid-row: 3;
  gap: 1.5rem;
  filter: contrast(150%);
}
.item4 {
  text-align: center;
  background: #cbc0d3;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;

}
button {
  height: 60px;
  width: 80px;
  margin: 2px 15px 15px 20px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ee6c4d;
}
a{
  filter: contrast(150%);
  color:#fff3b0 ;

}
.bottom{
  color: #6b5b95;
}

footer {
  bottom: 0;
  position: fixed;
}
